SPRING_PROFILES_ACTIVE=prod

MEDIANEXUS_DB_URL=jdbc:mysql://mysql:3306/medianexus_orchestrator?useUnicode=true&characterEncoding=utf8&sslMode=REQUIRED&serverTimezone=Asia/Shanghai
MEDIANEXUS_DB_USERNAME=medianexus
MEDIANEXUS_DB_PASSWORD=change-me
MEDIANEXUS_DB_SSH_TUNNEL_ENABLED=false
MEDIANEXUS_DB_SSH_STRICT_HOST_KEY_CHECKING=true

# If MySQL is only reachable through SSH on the deployment server, use the
# local tunnel endpoint instead of the Docker-network URL above:
# MEDIANEXUS_DB_URL=jdbc:mysql://127.0.0.1:3307/medianexus_orchestrator?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
# MEDIANEXUS_DB_SSH_TUNNEL_ENABLED=true
# MEDIANEXUS_DB_SSH_HOST=change-me
# MEDIANEXUS_DB_SSH_USERNAME=change-me
# MEDIANEXUS_DB_SSH_PASSWORD=change-me

MEDIANEXUS_ANI_RSS_BASE_URL=http://ani-rss:7789
MEDIANEXUS_ANI_RSS_API_KEY=change-me
MEDIANEXUS_EMBY_WEBHOOK_SECRET=change-me
MEDIANEXUS_OPENLIST_BASE_URL=http://openlist:5244
MEDIANEXUS_OPENLIST_AUTHORIZATION=change-me
MEDIANEXUS_OPENLIST_MOVIE_ROOT_PATH=/pikpak/Media/Movie
MEDIANEXUS_OPENLIST_TV_ROOT_PATH=/pikpak/Media/TV
MEDIANEXUS_RADARR_SCHEME=http
MEDIANEXUS_RADARR_HOST=radarr
MEDIANEXUS_RADARR_PORT=7878
MEDIANEXUS_RADARR_API_KEY=change-me
MEDIANEXUS_RADARR_TIMEOUT=10s
MEDIANEXUS_SONARR_SCHEME=http
MEDIANEXUS_SONARR_HOST=sonarr
MEDIANEXUS_SONARR_PORT=8989
MEDIANEXUS_SONARR_API_KEY=change-me
MEDIANEXUS_SONARR_TIMEOUT=10s
MEDIANEXUS_AUTH_REGISTRATION_CODE=change-me
MEDIANEXUS_DAILY_CONTENT_CREATE_LIMIT=3
